<?xml version="1.0"?>
<model>
  <name>asinus_description</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Asinus Robot Team</name>
    <email>contact@example.com</email>
  </author>
  <description>
    Asinus differential drive robot model with meshes and description files.
  </description>
</model>
